%h2.text-center Список возможностей

#feature-list
  %h4 Аутентификация (на основе has_secure_password)
  %ul
    %li пользователи могут регистрироваться, входить и выходить из своей учётной записи;
    %li опция "запомнить меня" на форме входа.

  %h4 Подтверждение адреса электронной почты
  %ul
    %li ссылка подтверждения адреса электронной почты высылается: (а) по запросу после регистрации; (б) автоматически при изменении адреса электронной почты;
    %li ссылка содержит адрес электронной почты пользователя (в виде хеша) и случайный ключ;
    %li ссылки действительны в течение 3 дней.

  %h4 Восстановление пароля
  %ul
    %li по запросу пользователю высылается ссылка для сброса пароля;
    %li ссылка содержит адрес электронной почты пользователя (в виде хеша) и случайный ключ;
    %li после перехода по ссылке и установки нового пароля, вход производится автоматически;
    %li ссылки действительны в течение 2 часов.

  %h4 Валидации
  %ul
    %li проверка всех данных, отправляемых пользователями на сервер.

  %h4 Авторизация (на основе Pundit)
  %p Права доступа:
  %ul
    %li вошедшие пользователи не могут зарегистрироваться или войти ещё раз;
    %li не вошедшие пользователи не могут выйти;
    %li только вошедшие пользователи, ещё не подтвердившие адрес электронной почты, могут запрашивать ссылки для его подтверждения;
    %li все пользователи, кроме вошедших и уже подтвердивших свой адрес электронной почты, могут переходить по ссылкам для его подтверждения;
    %li любой пользователь может запрашивать и переходить по ссылкам для сброса пароля;
    %li любой пользователь может изменять локаль;
    %li только вошедшие пользователи могут просматривать свой профиль, изменять имя, фотографию, пароль и адрес электронной почты;
    %li только вошедшие пользователи с правами администратора могут просматривать профили других пользователей;
    %li только вошедшие пользователи, оставлявшие запрос на изменение адреса электронной почты, могут его отменить.
  %p Обработка ошибок и уведомления, настраиваемые для каждого контролера и действия.
  %p В случае, когда для просмотра защищённой страницы требуется вход, пользователи автоматически перенаправляются на целевую страницу после входа.

  %h4 Пользовательские роли
  %p Пользователи с правами администратора обладают рядом дополнительных прав и имеют возможность:
  %ul
    %li просматривать информацию о других пользователях, включая их дату регистрации и время последней активности;
    %li просматривать список всех пользователей. 

  %h4 Профиль пользователя
  %p Позволяет зарегистрированным пользователям:
  %ul
    %li просматривать и редактировать имя и адрес электронной почты;
    %li изменять фотографию профиля;
    %li изменять и сбрасывать пароль;
    %li устанавливать предпочитаемый язык.

  %h4 Ajax и JavaScript
  %ul
    %li вход через всплывающее окно;
    %li проверка формы регистрации;
    %li загрузка и удаление фотографии профиля;
    %li сортировка, поиск и бесконечная прокрутка списка всех пользователей.

  %h4 Интернационализация и локализация
  %ul
    %li две доступных локали: English (по-умолчанию) и Русский;
    %li невошедшие пользователи могут выбрать предпочитаемый язык на любой странице;
    %li вошедшие пользователи могут установить предпочитаемый язык в настройках профиля;
    %li для невошедших пользователей локаль устанавливается на основе cookie, для вошедших - на основе их предпочтений, хранимых в базе данных;
    %li локаль может быть передана в виде url параметра, и в этом случае он всегда имеет преимущество.

  %h4 Почтовые возможности
  %ul
    %li после регистрации пользователь получает приветственное письмо;
    %li соглашаясь подтвердить адрес электронной почты, пользователь получает письмо с соответствующей ссылкой;
    %li после отправки запроса на сброс пароля, пользователь получает письмо с инструкциями;
    %li после изменения адреса электронной почты, пользователь получает уведомление на старый адрес и ссылку подтвержения на новый.