%h1.text-center Home page

#feature-list
  %h2 Feature list

  %h3 Authorization

  %p Users controller:
  %ul
    %li signed in users cannot sign up (#new, #create, #validate);
    %li users can view only their own profile and only when signed in (#show);

  %p Sessions controller:
  %ul
    %li signed in users cannot sign in another time (#new, #create);
    %li visitors cannot sign out (#destroy);

  %p EmailConfirmations controller:
  %ul
    %li only signed in who haven't yet confirmed their email can re-request email confirmation links (#create);
    %li email confirmation links can be accessed by anyone except signed in users who have already confirmed their email (#edit).

  %p PasswordResets controller:
  %ul
    %li anyone can request and access password reset links (#new, #create, #edit, #update);

  %p PasswordChanges controller:
  %ul
    %li only signed in users can change their password (#new, #create);