!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    %p To reset your password, click the following link:
    = link_to(nil, raw(edit_password_url(token: @password_reset_token, e: @encoded_email)))
    %p If you didn't request your password to be reset, ignore this email and your password will remain unchanged.