= bootstrap_form_for @search = 'asdf', inline_errors: false, remote: true, html: { class: 'search pull-right' } do |f|
  = f.text_field :search, hide_label: true, label: 'Search', placeholder: 'Search...', icon: 'search'