- errors = obj.errors.full_messages.uniq
- unless errors.empty?
  .validation-errors
    %p= t('v.shared._validation_errors.message', count: errors.count)
    %ul
      - errors.each do |error|
        %li= error