- if user.errors.any?
  %div.validation-errors
    %p Oops! There #{ user.errors.count == 1 ? 'is an error' : 'are ' + pluralize(user.errors.count, 'error') }:
    %ul
      - user.errors.full_messages.each do |error|
        %li #{error}