- if obj.errors.any?
  %div.validation-errors
    %p= t('v.shared._validation_errors.message',
      count: obj.errors.full_messages.uniq.count)
    %ul
      - obj.errors.full_messages.uniq.each do |error|
        %li= error