$('.alert-success, .validation-errors').remove();

:plain
  var flashHtml;  
  var $avatar           = $('img#avatar');
  var $avatarUploadForm = $('.photo #avatarUpload');
  var $avatarDeleteLink = $('.photo #avatarDelete');

- if @user.save
  
  - flash.now[:success] = @message  
  $avatar.attr('src', "#{asset_path(@user.avatar.url(:medium))}");
  $('.main div:first').prepend("#{j(render 'layouts/flash')}");
  if (!$avatarDeleteLink.length) { $avatarUploadForm.before("#{j(render 'avatars/delete_link')}");}

- else
  
  $('.main div:first').prepend("#{j(render 'shared/validation_errors', obj: @user)}");