/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

// nav {
//   ul {
//     float: right;
//     list-style: none;
//   }
//   li {
//     float: left;    
//     margin-right: 10px;
//     color: $gray-lighter;
//     &:last-child {
//       margin-right: 0;
//     }
//   }
//   a {
//     text-decoration: none;
//   }
//   .username {
//     color: $gray-dark;
//     font-weight: bold;
//   }
// }

// .shadowed {
//   box-shadow: 0 5px 20px 0px rgba(0,0,0,.5);
// }

body {
  padding-top: 70px;
}

div {
  // outline: 1px solid #eee;
}

footer {
  margin: 25px 0;
}

.gutter-half > [class*='col-'] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.checkbox {
  padding-top: 0 !important;
}

#signup, #login {
  span {
    padding-right: 5px;
    padding-left: 5px;
  }
}

#login {
  max-width: 350px;
}

#signup {
  max-width: 400px;
  .row {
    margin: 0;
    [class*='col-'] {
      padding: 0;
    }
    > .col-xs-6 {
      &:nth-of-type(2n-1) {
        padding-right: 7.5px;
      }
      &:nth-of-type(2n) {
        padding-left: 7.5px;
      }
    }
  }
}

#password-reset-new, #change-name, #change-password, #change-email {
  max-width: 300px;
}

#password-reset-edit {
  max-width: 200px;
}

#email-confirmation-new, #user-settings {
  max-width: 300px;
  @media (min-width: 768px) {
    max-width: 400px;
  }
}

.panel-body div:last-child .form-group {
  margin-bottom: 0;
}

.panel-heading h3 {
  margin: 0;
}

.validation-errors {
  margin-bottom: 20px;
  p {
    margin: 0;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #ff5959;
    border: 1px solid #cc3f3f;
    border-radius: 5px 5px 0 0;
  }
  ul {
    margin: 0;
    padding: 5px;
    padding-left: 12px;
    background-color: #ffdbdb;
    text-align: left;
    list-style-type: none;
    border: 1px solid #cc3f3f;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }
  li {
    color: red;
    line-height: 1.6em;
  }
}

header ul {
  margin-left: -15px !important;
}

.alert {
  border-width: 2px;
}

#logo {
  padding: 0;
  font-size: 1.6em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-text {
  margin: 0;
  padding: 15px;
}

// .close-button {
//   cursor: pointer;
//   position: absolute;
//   text-align: center;
//   font-size: 1.45em;
//   font-weight: bold;
//   text-shadow: 0 -1px 0 $white;
//   line-height: 18px;
//   width: 18px;
//   height: 18px;  
//   top: 2px;
//   right: 2px;
//   color: $black;
//   opacity: .3;
//   &:hover {
//     opacity: .4;
//   }
// }

.account-settings {
  margin-top: 20px;
  .row {
    padding-bottom: 25px;
  }
  > div:first-child {
    min-width: 220px;
    text-align: center;
    img {
      padding: 10px;
    }
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
  input[type=file] {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.photo {
  a {
    outline:none;
    padding-right: 10px;
    margin-right: 10px;
  }
  .btn-link {
    vertical-align: top;
  }
  .button_to input[type='submit'] {
    padding: 0;
    border-width: 0;
  }
  form:last-child {
    clear: left;
    padding: 15px 0 0;
    max-width: 500px;
    .input-group {
      .btn {
        min-width: 90px;
      }
      > span:first-child {
        text-align: right;
      }
    }
  }
}