/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "bootstrap-datepicker";

body {
  padding-top: 70px;
}

a:focus {
  outline: none;
}

footer {
  margin: 25px 0;
}

.row.main {
  margin-bottom: 25px;
  h2 {    
    margin-bottom: 35px;
  }
}

.checkbox {
  padding-top: 0 !important;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    max-width: 400px;
    // width:inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.main #signinForm, .main #signupForm {
  max-width: 350px;
  .form-group:last-child {
    padding-top: 10px;
    border-top: 1px solid $gray-lighter;
  }
}

#passwordResetNew, #emailChange, #nameChange {
  max-width: 300px;
}

#passwordResetEdit, #passwordChange {
  max-width: 250px;
}

.validation-errors {
  margin-bottom: 20px;
  p {
    margin: 0;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #ff5959;
    border: 1px solid #cc3f3f;
    border-radius: 5px 5px 0 0;
  }
  ul {
    margin: 0;
    padding: 5px 10px 5px 25px;
    background-color: #ffdbdb;
    text-align: left;
    border: 1px solid #cc3f3f;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }
  li {
    color: red;
    line-height: 1.6em;
  }
}

header ul {
  margin-left: -15px !important;
}

.alert {
  border-width: 2px;
}

#logo {
  padding: 0 15px;
  font-size: 1.6em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav {
  .navbar-fixed-top {
    margin-bottom: 35px;
  }
  .navbar-right li {
    .glyphicon {
      margin-right: 5px;
    }
  }  
}

#accountSettings, #userInfo {
  .row {
    padding-bottom: 25px;
  }
  > div:first-child {
    min-width: 220px;
    text-align: center;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
  input[type=file] {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.photo {
  a {
    outline:none;
    padding-right: 10px;
    margin-right: 10px;
  }
  .btn-link {
    vertical-align: top;
  }
  .button_to input[type='submit'] {
    padding: 0;
    border-width: 0;
  }
  form:last-child {
    clear: left;
    padding: 15px 0 0;
    max-width: 500px;
    .input-group {
      .btn {
        min-width: 90px;
      }
      > span:first-child {
        text-align: right;
      }
    }
  }
}

#userInfo table {
  th:first-child {
    width:1%;
    white-space:nowrap;
    padding-right: 45px !important;
  }
  .padded td:first-child {
    padding-left: 25px;
  }
}

#avatar {
  padding: 10px;
  border: 1px solid $gray-lighter;
}

#users {
  th {
    overflow: hidden;
    a {
      text-decoration: none;
      display: block;
      margin: -10px;
      padding: 10px;
    }
    .current:after {
      float: right;
    }  
    .asc:after {
      content: '▲';
    }
    .desc:after {
      content: '▼';
    }
  }
  .form-group {
    margin-bottom: 0;
  }
  th, td {
    vertical-align: middle;
  }
  #search_id {
    max-width: 65px;
  }
}

.clickable-row {
  cursor: pointer;
}

div.pagination {
  margin: 0;
}

.loading span {
  padding-left: 10px;
}